.sidebar {
  flex-shrink: 0;
  width: 150px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #aaa;
  background-color: #191718;
}

.menu-item {
  height: 44px;
  padding-left: 16px;
  padding-top: 14px;
  border-bottom: 1px solid #5c5c5c;

  &:hover {
    background-color: #5c5c5c;
    color: white;
    transition: 300ms ease;
  }
}

.menu-item:first-child {
  color: white;
}
