.footer {
  margin-top: auto;
  padding-top: 30px;
  border-top: 1px solid #3e3e3e;
  height: 78px;

  &-copyright {
    margin-left: 129px;
  }
}

/* // Tablet screens */
@media screen and (max-width: 1024px) {
  .footer-copyright {
    margin-left: 80px;
  }
}

/* // Mobile screens */
@media screen and (max-width: 740px) {
  .footer-copyright {
    margin-left: 50px;
  }
}
